<section class="card-inicial">
    <div>
        <div  class="card-inicial-1 shadow-7">
            <h4 >ACOMPANHE OS PRODUTOS DO NOSSO</h4>
            <h3>ARMARINHO</h3>
            <div class="botao">
                <p-button label="VEJA NOSSAS NOVIDADES"  [style]="{backgroundColor:'var(--branco)', color:'var(--cor-01)'}" routerLink="/produtos"></p-button>
            </div>
        </div>
    </div>
    <div >
        <div class="card-inicial-1 shadow-7">
            <h4 >ACOMPANHE NOSSOS PRODUTOS DE</h4>
            <h3>DEPOSITO</h3>
            <div class="botao">
                <p-button label="VEJA NOSSAS NOVIDADES" routerLink="/produtos" [style]="{backgroundColor:'var(--branco)', color:'var(--cor-01)'}"></p-button>
            </div>
        </div>
    </div>
</section>
