<section class="card-inicial" *ngFor="let card of card">
    <div>
        <div  class="card-inicial-1 shadow-7">
            <h4 >{{ card.preTituloUm }}</h4>
            <h3>{{ card.tituloUm }}</h3>
            <div class="botao">
                <p-button label="{{ card.botaoUm }}"  [style]="{backgroundColor:'var(--branco)', color:'var(--cor-01)'}" routerLink="/armarinho"></p-button>
            </div>
        </div>
    </div>
    <div >
        <div class="card-inicial-2 shadow-7">
            <h4 >{{card.preTituloDois}}</h4>
            <h3>{{card.tituloDois}}</h3>
            <div class="botao">
                <p-button label="{{ card.botaoDois }}" routerLink="/matcon" [style]="{backgroundColor:'var(--branco)', color:'var(--cor-01)'}"></p-button>
            </div>
        </div>
    </div>
</section>