<p-table
        #dt
        [value]="clientes"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['nome', 'product.nome', 'product.representante']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [(selection)]="selectedClients"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} clientes"
        [showCurrentPageReport]="true"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="dt.filterGlobal($event.target, 'contains')"
                        placeholder="Procurar..." />
                </span>
                <p-button
                    label="Adicionar Cliente"
                    icon="pi pi-plus"
                    class="p-button-outlined"
                    (click)="addCliente()" />
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox />
                </th>
                <th pSortableColumn="id" style="min-width:15rem">
                    Código <p-sortIcon field="id" />
                </th>
                <th>
                    Nome
                </th>
                <th pSortableColumn="nome">
                    Tabela <p-sortIcon field="nome" />
                </th>
                <th pSortableColumn="category" style="min-width:10rem">
                    Representante <p-sortIcon field="category" />
                </th>
                <th></th>
              <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cliente>
            <tr>
                <td>
                    <p-tableCheckbox [value]="cliente" />
                </td>
                <td>
                    {{ cliente.id }}
                </td>
                <td>
                    {{ cliente.nome }}
                </td>
                <td>
                    {{ showTabelaPrecos(cliente) }}
                </td>
                <td>
                    {{ cliente.representante || 'Sem representante'}}
                </td>

                <td>
                    <p-button
                        pRipple
                        icon="pi pi-pencil"
                        class="mr-2"
                        [rounded]="true"
                        [outlined]="true"
                        severity="success"
                        (click)="editCliente(cliente)" />
                </td>
              <td>
                <p-button
                  *ngIf="cliente.nome !== 'ROOT'"
                  pRipple
                  icon="pi pi-trash"
                  class="mr-2"
                  [rounded]="true"
                  [outlined]="true"
                  severity="danger"
                  (click)="removeCliente(cliente)" />
              </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
               Total de clientes: {{ clientes ? clientes.length : 0 }}
            </div>
        </ng-template>
    </p-table>


    <div class="card flex justify-content-center">
        <p-dialog header="Editar Cliente" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
            <span class="p-text-secondary block mb-5">Atualize as informações</span>
            <ng-template pTemplate="content">
                <div class="field">
                    <input
                      placeholder="Nome"
                        type="text"
                        pInputText
                        [(ngModel)]="cliente.nome"
                        required
                        autofocus disabled/>
                </div>

                <div class="field">
                    <input
                      placeholder="Email"
                      type="text"
                        pInputText
                        [(ngModel)]="cliente.nome"
                        required
                        autofocus disabled/>
                </div>
                <div class="field">
                    <input
                        placeholder="ID"
                        type="text"
                        pInputText
                        [(ngModel)]="cliente.id"
                        required
                        autofocus disabled/>
                </div>
                <div class="field">
                  <p-dropdown
                    appendTo="body"
                    [options]="tabelaPrecos"
                    [(ngModel)]="cliente.tabelaPreco"
                    optionLabel="label"
                    optionValue="value"
                    placeholder="Selecione uma tabela" />
                </div>
                <div class="field">
                  <p-dropdown
                    appendTo="body"
                    [options]="representantes"
                    [(ngModel)]="cliente.codRepresentante"
                    optionLabel="nome"
                    optionValue="id"
                    placeholder="Selecione uma tabela" />
                </div>
                <div class="field flex align-items-center gap-1">
                  <div style="display:flex; align-items: center; justify-content: center">
                    <p-checkbox
                      [(ngModel)]="cliente.isAdmin"
                      [binary]="true"
                      inputId="binary" />
                    <label style="margin-left:10px" for="binary">Admin</label>
                  </div>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <div class="flex justify-content-between">
                    <p-button
                        label="Cancelar"
                        icon="pi pi-times"
                        class="p-button-text"
                        severity="secondary"
                        (click)="visible = false" />
                    <p-button
                        label="Salvar"
                        icon="pi pi-check"
                        class="p-button-text"
                        severity="success"
                        (click)="saveCliente()" />
                </div>
            </ng-template>
        </p-dialog>
    </div>
