<div class="box-1" *ngFor="let card of card">
    <h3>{{ card.tituloUm }}</h3>
    <app-carousel-model/>
    <p-button label="Ver Todos" [style]="{'backgroundColor': 'var(--cor-01)', 'borderColor': 'var(--cor-01)', 'fontWeight': '300'}" />
</div>
<app-cards-01/>
<div class="box-1" *ngFor="let card of card">
    <h3>{{ card.tituloDois }}</h3>
    <app-carousel-model/>
    <p-button label="Ver Todos" [style]="{'backgroundColor': 'var(--cor-01)', 'borderColor': 'var(--cor-01)', 'fontWeight': '300'}" />
</div>
<div class="box-1" *ngFor="let card of card">
    <h3>{{ card.tituloTres }}</h3>
    <app-carousel-model/>
    <p-button label="Ver Todos" [style]="{'backgroundColor': 'var(--cor-01)', 'borderColor': 'var(--cor-01)', 'fontWeight': '300'}" />
</div>