<section class="card-inicial">
    <div>
        <div  class="card-inicial-1 shadow-7">
            <h4 >Se Inscreva em nossa Newsletter e acompanhe as melhores ofertas!</h4>
            <div class="botao">
                <p-button label="Vamos lá!"  [style]="{backgroundColor:'var(--preto)', color:'var(--branco)', borderColor: 'var(--branco)'}"></p-button>
            </div>
        </div>
    </div>
    <div >
        <div class="card-inicial-1 shadow-7">
            <h4 >Baixe aqui nosso catálogo online. Com facilidade e praticidade.</h4>
            <div class="botao">
                <p-button label="Baixe aqui" [style]="{backgroundColor:'var(--preto)', color:'var(--branco)', borderColor: 'var(--branco)'}"></p-button>
            </div>
        </div>
    </div>
</section>