<div class="card">
    <p-menubar [model]="items"  routerLink="">
        <ng-template pTemplate="start" >
            <a routerLink="" >
                <img src="./assets/logo.png"  class="logo" />
            </a>
        </ng-template>
        <ng-template pTemplate="end">
          <div style="display:flex; align-items:center">
            <input type="text" pInputText placeholder="Procurar" class="w-full p-2 border-round-xl border-1" />
<!--            <i class="pi pi-shopping-cart" style="font-size: 20px; margin-right: 20px; cursor: pointer;" pBadge [value]="products.length" severity="danger" (click)="showDialog()"></i>-->
            <p-button icon="pi pi-user" [rounded]="true" [text]="true" [style]="{'color': '#222222', 'marginRight':'10px'}" routerLink="/login" [outlined]="true"/>
          </div>
        </ng-template>
    </p-menubar>
</div>
